<div>
    {{ settings.title }}
</div>

{% schema %}
{
  "name": {
    "ar": "مثال",
    "en": "Example"
  },
  "icon": "fas fa-question",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "عنوان",
        "en": "Text"
      },
    }
  }
}
{% endschema %}