<div class="my-[2.7em] h-px bg-[#c9c9c9] w-full line-seperator"></div>

{% schema %}
{
  "name": {
    "ar": "خط فاصل",
    "en": "Divider"
  },
  "icon": "fa fa-line",
  "display": true,
  "settings": {
    "only": {
        "type": "radios",
        "label": {
            "ar": "عرض فقط على:",
            "en": "Show only on:"
        },
        "options": [
            {
                "value": "all",
                "label": {
                "ar": "جميع الاجهزة",
                "en": "all pages"
                }
            },
            {
                "value": "mobile",
                "label": {
                "ar": "الجوال فقط",
                "en": "Mobile only"
                }
            },
            {
                "value": "desktop",
                "label": {
                "ar": "اجهزة الكمبيوتر فقط",
                "en": "Desktop only"
                }
            }
        ]
    }
  }
}
{% endschema %}
