<div section-id="{{ sectionId }}"
     class="categories-section max-w-[86rem] mx-auto {% if settings.only == 'mobile' %} block lg:hidden {% elseif settings.only == 'desktop' %} hidden lg:block{% endif %}">
     {% embed 'container.common.twig' with {'class': 'w-full', 'id': sectionId} %}
        {% block content %}
          <div class="flex flex-col lg:flex-row w-full items-start justify-center gap-14">
            <div class="flex flex-col w-full items-center lg:justify-center lg:w-1/3">
              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/691f660c-3373-4365-b63d-d9adf50e7be2.png" alt="">

                <div class="absolute flex flex-col items-center justify-center top-0 w-full px-6">
                  <h3 class="text-white text-center text-2xl lg:text-3xl font-bold mb-3 mt-[12%]">
                    باقة الانطلاقة
                  </h3>
                  <p class="text-white text-center text-base font-arlit">
                    وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي 
                  </p>

                  <div class="mt-6 lg:mt-12">
                    <img class="w-full max-w-[280px]" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/540fdffd-b564-4e29-9054-bacbfb1bb9cd.svg" alt="">
                  </div>
                </div>
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/45510685-b70e-4628-8bb2-f26e5a2d93d4.png" alt="">
                <div class="absolute flex flex-col items-center justify-center left-[10%] w-4/5 !top-1/2 p-6 border-t-[3px] border-dashed border-t-white">
                </div>
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/9c63b80d-4d76-46aa-8cfe-b2f73ade723f.png" alt="">
                <div class="absolute flex flex-col items-center justify-center inset-0 w-full p-6">
                  <div class="w-full flex items-center justify-center">
                    <div class="px-4">
                      <p class="text-white font-bold text-lg text-center">سابقًا</p>
                      <p class="text-white line-through font-bold text-center text-lg px-3 py-1 bg-[#7462F4] rounded-full">690 ر.س</p>
                    </div>
                    <div class="px-4">
                      <p class="text-white font-bold text-lg text-center">بعد الخصم</p>
                      <p class="text-white font-bold text-center text-lg px-3 py-1 bg-[#BDB4FD] rounded-full" dir>230 ر.س</p>
                    </div>
                  </div>

                  <a href="/products/تذكرة-vip" class="w-full rounded-2xl flex items-center text-primary group px-4 py-2.5 bg-white mt-6 lg:mt-10 lg:mb-4">
                    <span class="font-bold mx-auto">
                    أحجز مقعدك
                    </span>
                    <svg class="h-6 text-primary transition duration-300 transform group-hover:-translate-x-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="rounded-2xl bg-cover flex flex-col items-center justify-center lg:w-1/3">
              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/d988390c-cd51-435b-9b42-b3805d95eebf.png" alt="">
                <div class="absolute flex flex-col items-center justify-center inset-0 w-full px-6">
                  <h3 class="text-white text-center text-3xl font-bold mb-3">
                    تذكرة VIP  
                  </h3>
                  <p class="text-white text-center text-base font-arlit">
                    وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي وصف نصي 
                  </p>
                </div>
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/98756cc7-9767-4162-9824-1e63c6c8a26c.png" alt="">
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/70a6ff35-c5ca-4f6d-9090-09de7d36e774.png" alt="">
                <div class="absolute flex flex-col items-center justify-center inset-0 w-full px-6">
                  <img class="w-full max-w-[324px]" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/cb95f0bf-c06b-4521-b622-32e9b4a46970.png" alt="">
                </div>
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/2009b6bb-4dc6-41a3-a398-845d464f97c0.png" alt="">
                <div class="absolute flex flex-col items-center justify-center left-[10%] w-4/5 !top-1/2 p-6 border-t-[3px] border-dashed border-t-white">
                </div>
              </div>

              <div class="relative">
                <img class="h-full w-full" src="https://media.zid.store/a50e0044-113c-496f-810b-d533d82f45ad/f3b3fc3e-96bb-4273-8f83-3fadb68edb3d.png" alt="">
                <div class="absolute flex flex-col items-center justify-center inset-0 w-full p-6">
                  <div class="w-full flex items-center justify-center">
                    <div class="px-4">
                      <p class="text-white font-bold text-lg text-center">سابقًا</p>
                      <p class="text-white line-through font-bold text-center text-lg px-3 py-1 bg-[#7462F4] rounded-full">5000 ر.س</p>
                    </div>
                    <div class="px-4">
                      <p class="text-white font-bold text-lg text-center">بعد الخصم</p>
                      <p class="text-white font-bold text-center text-lg px-3 py-1 bg-[#BDB4FD] rounded-full" dir>2300 ر.س</p>
                    </div>
                  </div>

                  <a href="/products/12321" class="w-full rounded-2xl flex items-center text-primary group px-4 py-2.5 bg-white mt-6 lg:mt-10 lg:mb-4">
                    <span class="font-bold mx-auto">
                    أحجز مقعدك
                    </span>
                    <svg class="h-6 text-primary transition duration-300 transform group-hover:-translate-x-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}
    {% endembed %}
</div>

{% schema %}
{
  "name": {
    "ar": "بطاقة منتج",
    "en": "Product Card"
  },
  "icon": "fal fa-card",
  "display": true,
  "settings": {
    "only": {
        "type": "radios",
        "label": {
            "ar": "عرض فقط على:",
            "en": "Show only on:"
        },
        "options": [
            {
                "value": "all",
                "label": {
                "ar": "جميع الاجهزة",
                "en": "all pages"
                }
            },
            {
                "value": "mobile",
                "label": {
                "ar": "الجوال فقط",
                "en": "Mobile only"
                }
            },
            {
                "value": "desktop",
                "label": {
                "ar": "اجهزة الكمبيوتر فقط",
                "en": "Desktop only"
                }
            }
        ]
    }
  }
}
{% endschema %}
