<section class="video-section py-4 relative{% if settings.spaces %} py-14 {% endif %}" section-id="{{ sectionId }}">
    {% if not settings.fullscreen %}
        {% embed 'container.common.twig' with {'class': 'w-full', 'desktop': settings.desktop, 'mobile': settings.mobile, 'bg': settings.background, 'title': settings.title, 'desc': settings.desc, 'prop': settings} %}
            {% block content %}
              <div class="rounded-2xl lg:p-8 p-5 flex flex-col w-full bg-cover" style="background-image: url('{{ imageUrl(bg) }}')">
                {% include 'video.modules.twig' with {'props': prop} %}
                {% if title %}
                  <h1 class="text-white font-bold text-3xl lg:text-5xl my-4 lg:my-6">{{ title }}</h1>
                {% endif %}
                {% if desc %}
                  <p class="text-white font-bold text-base lg:text-lg mb-2">{{ desc }}</p>
                {% endif %}
              </div>
            {% endblock %}
        {% endembed %}
    {% else %}
        {% include 'video.modules.twig' with {'props': settings} %}
    {% endif %}
</section>

{% schema %}
{
  "name": {
    "ar": "فيديو بنر",
    "en": "Video Banner"
  },
  "icon": "fa fa-play",
  "display": true,
  "settings": {
    "mobile": {
        "type": "text",
        "label": {
            "ar": "رابط الفيديو للموبايل",
            "en": "Video link for mobile"
        },
        "info": {
            "ar": "يجب أن يكون الفديو بصيغة mp4",
            "en": "Video must be mp4 format"
        }
    },
    "desktop": {
        "type": "text",
        "label": {
            "ar": "رابط الفيديو للديسكتوب",
            "en": "Video link for desktop"
        },
        "info": {
            "ar": "يجب أن يكون الفديو بصيغة mp4",
            "en": "Video must be mp4 format"
        }
    },
    "background": {
        "type": "image",
        "label": {
            "ar": "خلفية القسم",
            "en": "Background"
        },
        "info": {
            "ar": "",
            "en": ""
        }
    },
    "fullscreen": {
        "type": "checkbox",
        "label": {
            "ar": "",
            "en": ""
        },
        "option": {
          "ar": "فديو بحجم الشاشة؟",
          "en": "Fullscreen video?"
        },
        "noLabel": true
    },
    "spaces": {
      "type": "checkbox",
      "label": {
          "ar": "",
          "en": ""
      },
      "option": {
        "ar": "ترك مسافة أعلى وأسفل الفديو؟",
        "en": "Add vertical spaces?"
      },
      "default": true,
      "noLabel": true
    },
    "title": {
        "type": "text",
        "label": {
        "ar": "العنوان",
        "en": "Title"
      }
    },
    "desc": {
        "type": "textarea",
        "label": {
        "ar": "الوصف",
        "en": "Description"
      }
    },
    "button": {
        "type": "text",
        "label": {
        "ar": "عنوان الزر",
        "en": "Button text"
      }
    }
  }
}
{% endschema %}
