{% extends "layout.twig" %}

{% block title %} Orders {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <h1>account-orders</h1>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
