{% extends "layout.twig" %}

{% block title %} Profile {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <h1>account-profile</h1>

{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
