{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <div class="home mb-14 !overflow-hidden">
        {{ home_template_modules }}
    </div>

{% endblock %}

{% block footer %} {% include 'footer.twig' %} {% endblock %}