{% extends "layout.twig" %}

{% block title %} Shipping and payments {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <h1>Shipping and payments</h1>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
