<footer class='footer-section border-t border-black/5 pt-[30px] font-body'>
            {% embed 'container.common.twig' with {
        'class': 'w-full max-w-5xl',
        'links_one': settings.links_one,
        'links_two': settings.links_two,
        'store': store,
    } %}
        {% block content %}
        <div class="flex flex-col lg:flex-row">
          <div class="lg:flex-[25%] lg:max-w-[25%] px-[15px] mb-6">
            <img width="711" height="400" src="https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-711x400.png" class="align-middle" alt="" decoding="async" style="max-width: 100%; height: auto;" loading="lazy" srcset="https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-711x400.png 711w, https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-750x422.png 750w, https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-768x432.png 768w, https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-1400x788.png 1400w, https://baronfilou.com/app/uploads/2019/03/baron-filou-logo-head-name-510x287.png 510w" sizes="(max-width: 711px) 100vw, 711px">
          </div>
          <div class="lg:flex-[25%] lg:max-w-[25%] px-[15px] mb-6">
            <ul class="grid grid-cols-1 gap-y-1.5">
              {% for link in links_one %}
                <li class="border-b border-black/5 w-full leading-[25.6px] pb-1.5">
                  <a class="text-[#020202] text-[16px] leading-[25.6px] ps-[7px]" href="{{ link.url }}">
                    {{ link.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="lg:flex-[25%] lg:max-w-[25%] px-[15px] mb-6">
            <ul class="grid grid-cols-1 gap-y-1.5">
              {% for link in links_two %}
                <li class="border-b border-black/5 w-full leading-[25.6px] pb-1.5">
                  <a class="text-[#020202] text-[16px] leading-[25.6px] ps-[7px]" href="{{ link.url }}">
                    {{ link.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="flex items-center justify-center pt-[18px]">
        {% include "payment-icons.twig" %}
        </div>
        <div class="py-[15px] flex items-center justify-center">
          <p class="font-bold text-[14.4px] text-black/50">Copyright 2023 © All Rights Reserved</p>
        </div>
        {% endblock %}
    {% endembed %}
</footer>


{% schema %}
{
  "name": {
    "ar": "اسفل المتجر",
    "en": "Footer"
  },
  "icon": "fa fa-square",
  "display": true,
  "settings": {
    "links_one": {
      "type": "list",
      "label": {
        "ar": "قائمة الروابط",
        "en": "Links menu"
      },
      "icon": "font_awesome",
      "settings": {
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        }
      }
    },
    "links_two": {
      "type": "list",
      "label": {
        "ar": "قائمة الروابط",
        "en": "Links menu"
      },
      "icon": "font_awesome",
      "settings": {
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        }
      }
    }
  }
}
{% endschema %}